services:
  scanner:
    container_name: github_scanner
    build:
      context: . # The directory containing your Dockerfile
      dockerfile: Dockerfile # The name of your Dockerfile
    ports:
      - "8443:8443" # Instance API to be called by GitHub
    env_file:
      - .env.scanner
    volumes:
      - ./certs:/app/certs:ro # Mounts the 'data' directory from your host to '/app/data' inside the container
    healthcheck:
      test: ["CMD", "python", "healthcheck.py"]
      interval: 24h
      timeout: 30s
      start_period: 60s
      retries: 1
  splunk:
    image: splunk/splunk:latest
    container_name: splunk
    env_file:
      - .env.splunk
    ports:
      - "8000:8000"   # Splunk Web UI
      - "8088:8088"   # HTTP Collector Port
    volumes:
      - splunk-etc:/opt/splunk/etc
      - splunk-var:/opt/splunk/var
      - ./default.yml:/tmp/defaults/default.yml
      - ./certs:/opt/splunk/etc/auth/mycerts # Cert for HTTPS
    healthcheck:
      test: ["CMD", "curl", "-sk", "https://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  splunk-etc:
  splunk-var: